<div fxLayout="row" fxLayoutGap="15px">
    <div fxFlex="20" class="event-menu">
        <ul>
            <li>
                <a routerLink="store" routerLinkActive="active">
                    <i class="mdi mdi-settings"></i> Menu 1</a>
            </li>
            <li>
                <a routerLink="cart" routerLinkActive="active">
                    <i class="mdi mdi-information"></i> Menu 2</a>
            </li>
            <li>
                <a routerLink="checkout" routerLinkActive="active">
                    <i class="mdi mdi-timetable"></i> Menu 3</a>
            </li>
            <li>
                <a routerLink="admin" routerLinkActive="active">
                    <i class="mdi mdi-poll"></i> Menu 3</a>
            </li>
            <li>
                <a routerLink="codewithmosh" routerLinkActive="active">
                    <i class="mdi mdi-gift"></i> Menu 4</a>
            </li>
            <li>
                <a routerLink="event-qa" routerLinkActive="active">
                    <i class="mdi mdi-comment-question"></i> Menu 5</a>
            </li>
            <li>
                <a routerLink="event-agenda" routerLinkActive="active">
                    <i class="mdi mdi-timetable"></i> Menu 6</a>
            </li>
            <li>
                <a routerLink="event-sponsors" routerLinkActive="active">
                    <i class="mdi mdi-cash-usd"></i> Menu 7</a>
            </li>
            <li>
                <a routerLink="event-crm" routerLinkActive="active">
                    <i class="mdi mdi-account-card-details"></i> Menu 8</a>
            </li>   
            <li>
                <a routerLink="event-registration" routerLinkActive="active">
                    <i class="mdi mdi-account"></i> Menu 9</a>
            </li>
        </ul>
    </div>
    <div fxFlex="80">
        <mat-card>
            <router-outlet></router-outlet>
        </mat-card>
    </div>