<br />

<legend>
    QR Code
</legend>

<div>
    <table class="m-4">
       <tr>
            <td>
                <label>QR Code Value</label>
                <input type="text" [(ngModel)]="qrValue">
            </td>
        </tr>
        <tr>
            <td>
                <qr-code #qrRef [value]="qrValue" [size]="250" mime="image/png" padding="4"></qr-code>
            </td>
        </tr>
        <tr>
            <td>
                <button class="mti-button" mat-raised-button color="accent" (click)="downloadQRCode()">
                    <div class="btn__multiline-content"><i class="mdi mdi-download"></i>
                        <div class="btn__multiline-content-wrapper">
                            <span class="btn__multiline-content--text-top">Download</span>
                            <span class="btn__multiline-content--text-bottom">PNG</span>
                        </div>
                    </div>
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <button class="mti-button" mat-raised-button color="primary" (click)="openCustomModalView()">
                    <div class="btn__multiline-content"><i class="mdi mdi-download"></i>
                        <div class="btn__multiline-content-wrapper">
                            <span class="btn__multiline-content--text-top">Open</span>
                            <span class="btn__multiline-content--text-bottom">Modal View</span>
                        </div>
                    </div>
                </button>
            </td>
        </tr>
    </table>   
</div>

<ng-template #accessLevelModal>
    <div mat-dialog-title>
        <h1>Access Level</h1>
    </div>
    <mat-dialog-content>
        <form class="margin-top-10" [formGroup]="accessLevelForm">
            <div fxLayout="column">
                <mat-form-field>
                    <input type="text" matInput formControlName="name" placeholder="Name">
                    <mat-error>
                        <!-- <validation [fieldName]="accessLevelForm.controls.name"></validation> -->
                    </mat-error>
                </mat-form-field>
                <div class="row">
                    <div class="col-6 p-2" formArrayName="days">
                        <div *ngFor="let day of days.controls; let i=index;" [formGroupName]="i" class="card m-1 p-1 bg-light">
                            <div *ngFor="let key of day.controls | mapToKeys">
                                <h5>
                                    <mat-checkbox formControlName="{{key.key}}" class="example-margin">
                                        this is name
                                       <span class="small">this is date</span>
                                    </mat-checkbox>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 p-2" formArrayName="stages">
                        <div *ngFor="let stage of stages.controls; let i=index;" [formGroupName]="i" class="card m-1 p-1 bg-light">
                            <div *ngFor="let key of stage.controls | mapToKeys">
                                <h5>
                                    <mat-checkbox formControlName="{{key.key}}" class="example-margin">
                                       this is name
                                    </mat-checkbox>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="closeModal()">Close</button>
        <button color="accent" mat-raised-button (click)='saveAccessLevel()'>Save</button>
    </mat-dialog-actions>
</ng-template>