<br />

<legend>
    QR Code
</legend>

<div>
    <table class="m-4">
        <tr>
            <td>
                <qr-code #qrRef [value]="Pid" [size]="250" mime="image/png" padding="4"></qr-code>
            </td>
        </tr>
        <tr>
            <td>
                <button class="mti-button" mat-raised-button color="accent" (click)="downloadQRCode()">
                    <div class="btn__multiline-content"><i class="mdi mdi-download"></i>
                        <div class="btn__multiline-content-wrapper">
                            <span class="btn__multiline-content--text-top">Download</span>
                            <span class="btn__multiline-content--text-bottom">PNG</span>
                        </div>
                    </div>
                </button>
            </td>
        </tr>
    </table>   
</div>